<div class="row">
  <h1 style="margin: 1% 0 1% 1%;">Dashboard {{isAdmin ? '(Admin)': '(Staff)'}}</h1>
  <div *ngFor="let option of filteredOptions(options)" class="col-md-3">
    <mat-card style="margin: 0% 2% 2% 2%;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{option.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           [src]="option.img"
           alt="Photo of a Shiba Inu">
      <mat-card-subtitle>
        <p style="font-weight: bold; font-size: medium">{{option.subtitle}}</p>
      </mat-card-subtitle>
      <mat-card-actions>
        <button mat-button (click)="onSelect(option.value)">Click Here</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="text-align: center">
    <button mat-button (click)="redirectToDashboard()" class="back-class" style="margin-top: 2%; margin-left: 2%; background-color: blanchedalmond">Back</button>
  </div>
</div>
