<div class="row" style="margin-top: 2%; margin-right: 2%; margin-left: 2%">
  <h1>Passenger List</h1>
  <div class="test-header">
    Filters:
    <label>
      <input
        type="radio"
        name="filter"
        id="everyone"
        (change)="externalFilterChanged('everyone')"
      />
      Everyone
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="mandatoryFields"
        (change)="externalFilterChanged('mandatoryFields')"
      />
      Missing Mandatory Fields
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="wheelChair"
        (change)="externalFilterChanged('wheelChair')"
      />
      Wheel-Chair
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="withInfant"
        (change)="externalFilterChanged('withInfant')"
      />
      With-Infant
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="ancillary_lounge"
        (change)="externalFilterChanged('ancillary_lounge')"
      />
      Lounge Access
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="ancillary_cabin"
        (change)="externalFilterChanged('ancillary_cabin')"
      />
      Cabin Access
    </label>
    <label>
      <input
        type="radio"
        name="filter"
        id="meal"
        (change)="externalFilterChanged('meal')"
      />
      Special Meals
    </label>
  </div>
  <ag-grid-angular
    style="min-width: 20%; height: 670px;"
    class="ag-theme-alpine"
    [rowData]="(passengers | async).passengers"
    [frameworkComponents]="frameworkComponents"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    [isExternalFilterPresent]="isExternalFilterPresent"
    [doesExternalFilterPass]="doesExternalFilterPass"
    [rowClassRules]="rowClassRules"
  >
  </ag-grid-angular>

  <h3 style="margin-top: 1%">Note: </h3>
  <div><div class='box orange'></div> = Missing Mandatory Info </div>
  <br>

  <div style="text-align: center; margin-top: 2%">
    <button mat-button (click)="onAddNewPassenger()" style="background-color: lightblue">Add Passenger</button>
    <button mat-button (click)="redirectToDashboard()" style="margin-left: 2%; background-color: blanchedalmond">Back</button>
  </div>
</div>
